* {
 margin: 0px;
 padding: 0px;
 font-family: 'Poppins', 'sans-sreif';
 box-sizing: border-box;
}


@media only screen and  (max-width: 576px) {
nav a.navbar-brand.text-success {
 font-size: 17px;
}
div.header.text-center h4{
 font-size: 17px;
}
div#users.row.container-fluid.d-flex.justify-content-center{
 width: auto;
}
div.card.container.form-control.about{
 font-size: 13px;
}
}
